<h1>Profile </h1>
Name: <%=@user.name%>
<br>
Email: <%=@user.email%>
<br>

<strong><%= link_to 'Create an Event', create_path %></strong>
<br>
<%= link_to 'Logout', logout_path, method: :delete %>
<br>
<strong> Created Events </strong>

<% @user.events.reverse.each do |event|%>
<ul>
    <li>
        <span>Title: </span><%=event.title%>
        <br>
        <span>Date: </span><%=event.date%>
        <br>
        <span>Description: </span><%=event.description%>
    </li>
    </ul>
<%end%>

<strong> Events you're attending </strong>
<% @user.events_attended.each do |event|%>
    <li>
        <span>Title: </span><%=event.title%>
        <br>
        <span>Date: </span><%=event.date%>
        <br>
        <span>Description: </span><%=event.description%>
        <span><%= link_to event.creator.name, user_path(event.creator) %>
    </li>
    </ul>
<%end%>
<br>
<%= link_to 'All events', events_path %>