<% @events.reverse.each do |event|%>
<ul>
    <li>
        <p>Title: <%=event.title%></p>
        <p>Date: <%=event.date%></p>
        <p>Description: <%=event.description%></p>
        <span>Creator: <%= link_to event.creator.name , user_path(event.creator) %></span>
        <<%= link_to 'Event profile', event_path(event) %>>
    </li>
    </ul>
<%end%>

<%= link_to 'Back to your profile', user_path(session[:user_id]) %>